.LangList {
    width: 100%;
    height: 100vh;
    background-color: #15191F;
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(auto-fill, 225px);
    grid-gap: 1%;
    justify-items: center;
}

.langCard {
    position: relative;
    width: 100%;
}